* {
	font-family: 微軟正黑體;
}

.condition {
	border: solid black 1px;
	width: 100px;
	height: 50px;
	margin: 20px;
	float: left;
	text-align:center;
}

#notchoosed {
	border: solid black 1px;
	width: 450px;
	margin: 20px;
	float: left
}

.selectorc {
	display: block;
}

#selected {
	display: none;
	margin: 20px;
	float: left;
	hight: 200px;
	border-top: ridge	#DDDDDD 10px;
	border-left:ridge	#DDDDDD 10px;
	border-bottom:ridge #888888 10px;
	border-right:ridge  #888888 10px;
}
#choosedchoosed{
	border-top: ridge	#DDDDDD 10px;
	border-left:ridge	#DDDDDD 10px;
	border-bottom:ridge #888888 10px;
	border-right:ridge  #888888 10px;
	width: 450px;
	margin: 20px;
	float: left
}
.ccondition{
	border: solid black 1px;
	width: 100px;
	height: 50px;
	margin: 20px;
	float: left;
	text-align:center;
	display:none;
}